
body {
	background-color: var(--black);
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #333333;
  border-radius: 7px;
}

body::-webkit-scrollbar-thumb {
  background: #4f4f4f; 
  border-radius: 7px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f; 
}

/* buttons */

.choose-language-btn,
.sidebar-btn,
.search-btn {
	background-color: rgba(51, 43, 58, 0.3);
	color: white !important;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	position: relative;
	transition: background-color .3s;
}

.choose-language-btn.fl-active::before,
.sidebar-btn.fl-active::before,
.search-btn.fl-active::before  {
	position: absolute;
	content: " ";
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 1px;
	background-color: white;
}

.change-language {
	content: "Change language";
	position: absolute;
	width: 120px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	left: -40px;
	top: 110%;
	padding: 0;
	border-radius: 3px;
	background-color: rgba(51, 43, 58, 1);
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s, visibility .3s;
	color: white;
	font-size: 12px;
}

@media (hover: hover) {

	.choose-language-btn:hover,
	.sidebar-btn:hover,
	.search-btn:hover  {
		background-color: rgba(51, 43, 58, 1);
	}

	.choose-language-btn:hover ~ .change-language {
		visibility: visible;
		opacity: 1;
	}

}

.choose-language-btn:active,
.sidebar-btn:active,
.search-btn:active {
	background-color: rgba(51, 43, 58, 1);
}

.black-btn {
	background-color: var(--black);
	color: white;
	font-weight: bold; 
	border: 1px solid white;
	text-align: center;
	border-radius: 7px;
	padding: 10px 13px;
	font-size: 13px;
	transition: color .3s, background-color .3s;
}

@media (hover: hover) {

	.black-btn:hover {
		background-color: white;
		color: var(--black);
	}

}	

.black-btn:active {
	background-color: white;
	color: var(--black);
}

.purple-btn {
	background-color: var(--purple);
	color: white !important;
	font-weight: bold; 
	text-align: center;
	border-radius: 7px;
	padding: 11px 14px;
	font-size: 13px;
	transition: background-color .3s;
}

@media (hover: hover) {

	.purple-btn:hover {
		background-color: var(--seconddarkpurple);
	}

}	

.purple-btn:active {
	background-color: var(--seconddarkpurple);
}

.purple-btn i {
	margin-right: 3px;
}

.grey-btn {
	background-color: var(--darkgrey) !important;
	color: white !important;
	font-weight: bold; 
	border: 0;
	text-align: left;
	border-radius: 8px;
	padding: 0.8rem 1rem;
	font-size: 16px;
	transition: color .3s, background-color .3s;
}

.purple-link {
	color: var(--purple);
	transition: color .3s;
	font-size: 16px;
}

@media (hover: hover) {

	.purple-link:hover {
		color: var(--seconddarkpurple);
	}

}

.purple-link:active {
	color: var(--seconddarkpurple);
}

.purple-link i {
	margin-left: 5px;
}

.white-btn {
	padding: 3px 8px;
	margin-right: 0.5rem;
	border-radius: 5px;
	color: var(--darkgrey);
	background-color: white;
	font-size: 10px;
	border: 1px solid var(--darkgrey);
	transition: color .3s, background-color .3s, border-color .3s;
}

.white-btn i {
	margin-right: 2px;
}

.white-btn:hover {
	border-color: var(--purple);
	background-color: var(--purple);
	color: white;
}

.share-btn {
	padding: 4px 0;
	border-radius: 5px;
	color: var(--darkgrey);
	background-color: white;
	font-size: 10px;
	transition: color .3s;
}

.share-btn i {
	margin-right: 2px;
}

.share-btn:hover {
	color: var(--purple);
}

/* the-end-of-buttons */



/* radios */

.purple-radio {
	color: rgba(255, 255, 255, .7);
	font-weight: normal;
	font-size: 14px;
	padding: 0 0 0 1.8rem;
	border-radius: 5px;
	margin: 1.2rem calc(1.5rem + 1vw) 0 0 !important;
	margin-right: 2rem;
	z-index: 2;
	background-color: transparent;
	text-align: left;
	position: relative;
	transition: background-color .3s;
}

.purple-radio input:checked ~ .fl-form-radio-checkmark {
    border-color: var(--purple);
}

.purple-radio .fl-form-radio-checkmark:after {
    top: calc(50% - 4.2px);
    left: calc(50% - 4.2px);
    width: 8.4px;
    height: 8.4px;
    border-radius: 50%;
    background: var(--purple);
}

.purple-radio .fl-form-radio-checkmark {
	top: calc(50% - 8.5px);
	height: 17px;
	width: 17px;
	border: 1px solid var(--grey);
	background-color: transparent !important;
	transition: all .3s;
}

.purple-radio:hover .fl-form-radio-checkmark {
    border-color: var(--purple);
}

/* the-end-of-radios */



/* colors */

.color-white { color: white !important; }
 
/* the-end-of-colors */ 



/* checkboxes */

.purple-checkbox {
	color: white;
	font-weight: normal;
	font-size: 12px;
	padding: 0 0 0 1.8rem;
	border-radius: 5px;
	margin-top: 10px;
	z-index: 2;
	margin-bottom: 0;
	background-color: transparent;
	text-align: left;
	position: relative;
	transition: background-color .3s;
}	

.purple-checkbox input:checked ~ .fl-checkmark,
.purple-checkbox:hover .fl-checkmark {
    border-color: var(--purple);
}

.purple-checkbox .fl-checkmark:after {
    top: calc(50% - 6px);
    left: calc(50% - 2.5px);
    width: 5px;
    height: 10px;
    border: solid var(--purple);
	border-width: 0 2px 2px 0;
}

.purple-checkbox .fl-checkmark {
	top: 0;
	height: 17px;
	width: 17px;
	border: 1px solid var(--grey);
	background-color: transparent !important;
	transition: all .3s;
	z-index: 2;
	border-radius: 3px;
}

/* the-end-of-checkboxes */



/* selectors */

.white-selector {
	display: block;
	position: relative;
	background-color: transparent;
	padding: 0.5rem 0 !important;
	border-radius: 0;
	text-indent: -1rem;
	border-bottom: 1px solid rgba(255, 255, 255, .7);
	font-size: 14px;
	margin-top: 10px;
	margin: 0 !important;
	color: white;
}

.white-selector .select-selected:after {
  	content: " ";
	position: absolute;
	top: 1rem;
	border: solid white !important;
	margin-left: 10px;
	border-width: 0 3.5px 3.5px 0 !important;
	display: inline-block;
	padding: 6px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transition: transform .3s, -webkit-transform .3s;
}

.white-selector .select-selected.select-arrow-active:after {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	top: 1.5rem;
}

.white-selector .select-selected {
	width: 100% !important;
	border: 0 !important;
	background-color: transparent;
}

.white-selector .select-items {
  position: absolute;
  background-color: white;
  top: calc(-215px);
  width: 100% !important;
  height: 210px;
  overflow: auto;
  overflow-x: hidden;
  padding: 8px;
  border-radius: 12px;
  left: 0;
  right: 0;
  z-index: 99;
}

.white-selector .select-items::-webkit-scrollbar {
  width: 5px;
  background-color: #333333;
  border-radius: 7px;
}

.white-selector .select-items::-webkit-scrollbar-thumb {
  background: #4f4f4f; 
  border-radius: 7px;
}

.white-selector .select-items::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f; 
}

.white-selector .select-items div {
	background-color: transparent;
	margin-top: 3px;
	color: var(--darkgrey);
	text-align: center;
	text-indent: 0 !important;
	padding: 8px 16px;
	width: 100% !important;
	border-radius: 8px;
	border: 0;
	cursor: pointer;
	transition: color .3s, background-color .3s;
}

.white-selector .select-items div:hover, .same-as-selected {
  background-color: lightgrey !important;
  color: var(--purple) !important;
  font-weight: bold;
}

/* the-end-of-selectors */



/* classes */

.mt-1 { margin-top: 1rem !important; }

.ml-0 { margin-left: 0 !important; }

.mr-7px { margin-right: 10px; }

/* the-end-of-classes */



/* back-to-top-button */

.fl-back-to-top-btn {
	color: var(--purple);
	background-color: rgba(38,38,38, 0.2);
	z-index: 14;
}

/* the-end-of-back-to-top-button */
